* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgb(179, 181, 184); */
    font-family: "Poppins", sans-serif;
    font-style: normal;

}

/* body {
    background-color: rgb(7, 136, 248);
    font-family: "Poppins", sans-serif;
    font-style: normal;
   
} */

.header {
    width: 100%;
    background: #f3f4f6;
    color: black;
    padding: 10px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

.profile-details {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 20px;

}


.left-container {
    flex-basis: 20%;
  background: linear-gradient(to bottom, #f3f4f6, #e0e7ff);
    padding: 0 15px;
    margin: 0 10px;

}

.right-container {
    flex-basis: 80%;
    padding: 20px;
    background-color: white;
}

.profile-image {
    display: flex;
    justify-content: center;
    align-items: center;

}

.profile-img {
    width: 100px;
    height: 100px;
    margin: 10px;

}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;


}

.profile-info .list1 {
    color: black;
    padding: 7px;
    border: 1px solid rgb(62, 62, 62);
    border-radius: 10px;
    width: 100%;
    /* background-color: rgb(214, 76, 200); */
}

.profile-info .list {
    color: black;
    padding: 7px;
    border: 1px solid rgb(62, 62, 62);
    border-radius: 10px;
    width: 100%;
    text-align: center;
}


.subtitle {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
    color: rgb(99, 99, 237);
}



form {
    margin: 20px 0;
    /* height: 330px!important; */
}

.nav-title {
    color: #4f46e5;
    padding-bottom: 5px;
    font-weight: 700;
    border-left: 5px solid #9333ea;
    padding-left: 0.5rem;
    font-size: large;
}

.nav-lists ul {
    font-size: 16px;
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: flex-start;
}

.nav-lists ul li a {
    text-decoration: none;
    color: rgb(42, 42, 43);
}



label {
    font-weight: 400;
    font-size: 14px;
    color: rgb(17, 17, 17);
    padding: 0px;
}

.list select {
    border: none;
}

.form-label {
    margin-bottom: 0 !important;
}



.left-content {
    flex-basis: 50%;
    padding: 10px;
    margin-bottom: 150px !important;


}

.right-content {
    flex-basis: 50%;
    border-left: 0.5px solid rgb(220, 220, 220);
    padding-left: 20px;
    padding-bottom: 20px;
}

.subtitle2 {
    text-decoration: underline;
}

.tabb {
    border-bottom: 0.5px solid rgb(220, 220, 220);
}

.card {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    /* padding: 1.5rem; */
    border-radius: 1rem;
}